body {
    background: #212138;
    margin: 0;
    color: white;
    overflow-x: hidden;
  }
  
  #cloudy_storm_canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }